/* 实现rem适配,记得去flexible.js文件里修改等分的份数，并在cssrem插件的设置中设置1rem等于多少px */
@media screen and (max-width:1024px) {
    html {
        font-size: 42.66px !important;
    }
}

@media screen and (min-width:1920px) {
    html {
        font-size: 80px !important;
    }
}

h4 {
    font-weight: 400;
}
body{ 
    /* 设置背景图片 */
    background:url(../images/bg.jpg) repeat;
    /* 让背景图片大小适应浏览器 */
    background-size: cover;
}
.viewport {
    /* 使用flexible布局 */
    display: flex;
    min-width: 1024px;
    max-width: 1920px;
    min-height: 780px;
    max-height: 1078px;
    padding: 1.1rem 0.25rem 0rem;
    margin: 0px auto;
    background: url(../images/logo.png) no-repeat;
    /* 将logo背景图完全显示 */
    background-size: contain;
}
/* 将大盒子viewport利用flexible布局分隔成2份,分别是3,6 */
.viewport .column {
    flex: 3;
}
.viewport .column:nth-child(2) {
    flex: 6;
}
/* 公共面板样式 */
.panel {
    position: relative;
    border: 15px solid transparent;
    border-image-source: url(../images/border.png);
    border-width: .6375rem .475rem .25rem 1.65rem;
    border-image-slice: 51 38 20 132;
    /* 写了border-image-slice之后会默认border-image-width与其相同 */
    margin-bottom: .25rem;
}
.panel h3 {
    font-size: .25rem;
    color: #fff;
    font-weight: 400;
}
.inner {
    position: absolute;
    top: -0.6375rem;
    right: -0.475rem;
    bottom: -0.25rem;
    left: -1.65rem;
    padding: .25rem .45rem;
    /* background-color: greenyellow; */
}
.overview {
    height: 1.375rem;
}
.overview ul {
    display: flex;
    /* 平均分配空间 */
    justify-content: space-between;
}
.overview ul li h4{
    font-size: .35rem;
    color: #fff;
    margin: 0rem 0rem .1rem .06rem;
}
.overview ul li span {
    font-size: .2rem;
    color: #4c9bfd;
}

/* 监控monitor区域 */
.monitor {
    height: 7.5rem;
}
.monitor .inner {
  padding: 0.3rem 0;
  display: flex;
  flex-direction: column;
}
.monitor .tabs {
  padding: 0 0.45rem;
  margin-bottom: 0.225rem;
  display: flex;
}
.monitor .tabs a {
  color: #1950c4;
  font-size: 0.225rem;
  padding: 0 0.3375rem;
}
.monitor .tabs a:first-child {
  padding-left: 0;
  border-right: 0.025rem solid #00f2f1;
}
.monitor .tabs a.active {
  color: #fff;
}
.monitor .content {
  flex: 1;
  position: relative;
  display: none;
}
.monitor .head {
  display: flex;
  justify-content: space-between;
  line-height: 1.05;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.15rem 0.45rem;
  color: #68d8fe;
  font-size: 0.175rem;
}
.monitor .marquee-view {
  position: absolute;
  top: 0.5rem;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.monitor .row {
  display: flex;
  justify-content: space-between;
  line-height: 1.05;
  font-size: 0.15rem;
  color: #61a8ff;
  padding: 0.15rem 0.45rem;
}
.monitor .row .icon-dot {
  position: absolute;
  left: 0.2rem;
  opacity: 0;
}
.monitor .row:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #68d8fe;
}
.monitor .row:hover .icon-dot {
  opacity: 1;
}
.monitor .col:first-child {
  width: 1rem;
}
.monitor .col:nth-child(2) {
  width: 2.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.monitor .col:nth-child(3) {
  width: 1rem;
}
/* css动画实现监视区滚动动画 */
.marquee-view .marquee{
    animation: move 15s linear infinite;
}
@keyframes move{
    0%{ 
    }
    100%{
        transform: translateY(-50%);
    }
}
.marquee-view .marquee:hover {
    animation-play-state: paused;
}

/* 点位分布统计模块制作 */
.point {
  height: 5rem;
}
.point .chart {
  display: flex;
  margin-top: 0.3rem;
  justify-content: space-between;
}
.point .pie {
  width: 3.9rem;
  height: 3rem;
  margin-left: -0.125rem;
}
.point .data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.1rem;
  padding: 0.45rem 0.375rem;
  box-sizing: border-box;
  background-image: url(../images/rect.png);
  background-size: cover;
}
.point h4 {
  margin-bottom: 0.15rem;
  font-size: 0.35rem;
  color: #fff;
}
.point span {
  display: block;
  color: #4c9bfd;
  font-size: 0.2rem;
}

/* 用flex将map分区 */
.map .left {
    flex: 4;
    height: 100%;
    /* background-color: gold; */
}
.map .right {
    flex: 3;
    height: 100%;
    /* background-color: greenyellow; */

}
/* 地图模块制作 */
.map {
  height: 7rem;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-around;
}
.map .left h3 {
  line-height: 1;
  padding: 0.2rem 0;
  margin: .25rem 0rem 0rem .125rem;
  font-size: 0.25rem;
  color: #fff;
  font-weight: 400;
}
.map .left .icon-cube {
  color: #68d8fe;
}
.map .left .chart {
  flex: 1;
  height: 90%;
  width: 100%;
  /* background-color: greenyellow; */
  background-color: rgba(255,255,255, 0.05);
}
.map .left .chart .geo {
  width: 100%;
  height: 100%;
}
.radar {
    height: 7rem;
    margin: .375rem .125rem 0.25rem .125rem;
    display: flex;
    flex-direction: column;
}
.radar .radarMap {
    width: 100%;
    height: 100%;
}

/* 折线图模块 */
/* .map .right{
    height: 7rem;
} */

.map .right .line {
    width: 100%;
    height: 100%;
    /* background-color: gold; */
}

